.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100vw;
    border-bottom: 1px solid black;
    position: relative;
    top: 0;
}

.line-seperatior {
    width: 100vw;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
}

.cart-link {
    color: #ffffff;
}

svg {
    cursor: pointer;
}
.cart-items {
    align-self: start;
    border: 1.5px solid black;
    padding-inline: 7.5px;
    border-radius: 100vw;
    position: relative;
    right: 15px;
    bottom: 10px;
    background-color: rgb(150 0 0 / 0.6);
}

.link:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-column: 2;
    font-size: 2rem;
}

.nav-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    width: 100vw;
}
